@model ProductVM
@{
    var categories = ((SelectList)ViewBag.CatList)?.Select(c => new { label = c.Text, value = c.Text }).ToList();
    var categoriesJson = categories != null ? System.Text.Json.JsonSerializer.Serialize(categories) : "[]";
}
<div class="col-lg-6">
    <form asp-action="Create" asp-controller="Products" method="post" class="myForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">

            <div class="col-md-6">
                <input type="text" name="ProductName" class="form-control" placeholder="ProductName" >
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="col-md-6 ">
                <input list="category-list" class="form-control" name="CategoryName" placeholder="CategoryName" autocomplete="off" />
                <datalist id="category-list">
                    @if (ViewBag.CatList != null)
                    {
                        foreach (var item in (SelectList)ViewBag.CatList)
                        {
                            <option value="@item.Text"></option>
                        }
                    }
                </datalist>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>

            <div class="col-12">
                <input type="text" class="form-control" name="Price" placeholder="Price" >
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="col-12">
                <input class="form-control" name="Quantity" rows="6" placeholder="Quantity" ></input>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="col-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
            </div>

        </div>
    </form>
</div><!-- End Contact Form -->