@model Product

@if (Model.Carts.Count > 0)
{
	@* If Product is in cart *@
	<a type="submit" class="btn btn-primary m-2" asp-controller="Home"
	   asp-action="AddProductToCart"
	   asp-route-id="@Model.Id"><i class="bi-cart"></i> Go to Cart</a>
}
else
{
	@* If Product is not in cart *@
	@if (Model.Quantity > 0)
	{
		<button type="button" class="btn btn-success m-2" onclick="ajaxRequest('post', '/Home/AddProductToCartApi', { id: @Model.Id }, function(){changeButtonToGoToCart(@Model.Id, this)}, function(msg){alert('An Error Occured While Adding Item to Cart')})"><i class="bi-plus"></i> Add to Cart</button>
	}
	else
	{
		<button class="btn btn-secondary m-2" disabled>Out of Stock</button>
	}
}