@model List<Category>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<section id="services" class="services section mt-5">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Categories</h2>
        <p>Show all Categories of Products</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">

            @foreach (var item in Model)
            {
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item d-flex">
                        <div class="icon flex-shrink-0"><i class="fa-solid @item.Photo"></i></div>
                        <div>
                            <h4 class="title"><a href="/Home/Products/@item.Id" class="stretched-link">@item.Name</a></h4>
                            <p class="description">@item.Description</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Item -->
            }
        </div>

    </div>

</section><!-- /Services Section -->
