@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<header id="header" class="header d-flex align-items-center fixed-top @((string?)ViewData["CurrentPage"] != "Home" ? "my-fixed-bar" : "")">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="~/assets/img/logo.png" alt=""> -->
            <h1 class="sitename">E-commerce</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                @if ((string?)ViewData["CurrentPage"] == "Home")
                {
                    <li><a href="/" class="active">Home</a></li>

                }
                else
                {
                    <li><a href="/">Home</a></li>
                }
                @if ((string?)ViewData["CurrentPage"] == "Products")
                {
                    <li><a href="/Home/products" class="active">Products</a></li>

                }
                else
                {
                    <li><a href="/Home/products">Products</a></li>
                }
                @if ((string?)ViewData["CurrentPage"] == "Categories")
                {
                    <li><a href="/Home/Categories" class="active">Categories</a></li>

                }
                else
                {
                    <li><a href="/Home/Categories">Categories</a></li>
                }
                <li><a href="@(Configuration["AdminPanelPath"])">Admin Panel</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/Home/SearchProduct?name=">Search</a></li>
                <li><a asp-action="Cart">Cart</a></li>
                <li class="dropdown">
                    <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="#">Dropdown 1</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dropdown 2</a></li>
                        <li><a href="#">Dropdown 3</a></li>
                        <li><a href="#">Dropdown 4</a></li>
                    </ul>
                </li>
				<partial name="_LoginPartial" />
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        @* <a class="btn-getstarted" href="#about">Get Started</a> *@

    </div>
</header>
@if ((string?)ViewData["CurrentPage"] != "Home")
{
    @await Html.PartialAsync("_SpacePartial")
}