@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@* <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="~/assets/img/logo.png" alt=""> -->
            <h1 class="sitename">E-commerce</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                @if ((string?)ViewData["CurrentPage"] == "Home")
                {
                    <li><a href="/" class="active">Home</a></li>

                }
                else
                {
                    <li><a href="/">Home</a></li>
                }
                <li><a href="/Home/Products">Products</a></li>
                @if ((string?)ViewData["CurrentPage"] == "Categories")
                {
                    <li><a href="/Home/Categories" class="active">Categories</a></li>

                }
                else
                {
                    <li><a href="/Home/Categories">Categories</a></li>
                }
                <li><a href="#about">About</a></li>
                <li><a href="#team">Team</a></li>
                <li class="dropdown">
                    <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="#">Dropdown 1</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dropdown 2</a></li>
                        <li><a href="#">Dropdown 3</a></li>
                        <li><a href="#">Dropdown 4</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="#categories">Get Started</a>

    </div>
</header> *@
@await Html.PartialAsync("_NavBarPartial")
<!-- Hero Section -->
<section id="hero" class="hero section accent-background">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>My E-commerce Website</h1>
                <p>Enjoy Shopping!</p>
                <div class="d-flex">
                    <a href="#categories" class="btn-get-started">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="~/assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>

<!-- /Hero Section --><!-- /Hero Section -->