
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="get" asp-controller="Home" asp-action="SearchProduct">
<div class="container mt-5 mb-5">
    <div class="row">
            <input type="text" name="name" class="form-text col-sm-9 m-0" placeholder="Search" />
        <button type="submit" class="btn btn-primary col-sm-2 mx-2" >Search</button>
    </div>
</div>

</form>